{% extends "base.html" %} {% block content %}

<h2>Weather</h2>

<center class="row">
    <form method="post" class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <input type="text" class="form-control" name="city" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            Search
          </button>
        </div>
        <form>
  </center>
  <div class="row">
    {% if data.country_code and data.coordinate and data.temp and data.pressure and data.humidity %}
    <div class="col-md-6 col-md-offset-3">
      <h3>country code : {{data.country_code}}</h1>
        <h5>City name : {{data.city}}</h5>
        <!-- <h5>Current Weather : {{data.weather}}</h5> -->
        <!-- <h5>Curent data is from : {{data.data}}</h5> -->
        <!-- <h5>coordinate : {{data.coordinate}}</h5> -->
        <h5>temperature : {{data.temp}}</h5>
        <!-- <h5>temp (in celcius) : {{data.temp_cel}}</h5> -->
        <h5>pressure : {{data.pressure}} </h5>
        <h5>humidity : {{data.humidity}}</h5>
    </div>
    {% endif %}
  </div>

{% endblock %}
